@{
    ViewData["Title"] = "Books";
}

<div class="container-category">

    <div class="row-category">
        <div class="col-category">
            <a asp-action="Tech" asp-controller="Category" class="btn btn-outline-primary">Техника</a>
        </div>
        <div class="col-category">
            <a asp-action="Vintage" asp-controller="Category" class="btn btn-outline-primary">Винтаж</a>
        </div>
        <div class="col-category">
            <a asp-action="Art" asp-controller="Category" class="btn btn-outline-primary">Искусство</a>
        </div>
        <div class="col-category">
            <a asp-action="Books" asp-controller="Category" class="btn btn-outline-primary">Книги</a>
        </div>
        <div class="col-category">
            <a asp-action="Fashion" asp-controller="Category" class="btn btn-outline-primary">Мода</a>
        </div>
        <div class="col-category">
            <a asp-action="Music" asp-controller="Category" class="btn btn-outline-primary">Музыка</a>
        </div>
        <div class="col-category">
            <a asp-action="Antiques" asp-controller="Category" class="btn btn-outline-primary">Антиквариат</a>
        </div>
    </div>
</div>

<h2>Активные лоты</h2>

