body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.desktop_catmenu {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы вокруг списка */
    margin: 0; /* Убираем отступы вокруг списка */
}

    .desktop_catmenu li {
        display: inline-block; /* Делаем элементы списка горизонтальными */
        margin-right: 10px; /* Добавляем небольшой отступ между элементами списка */
    }

        .desktop_catmenu li:last-child {
            margin-right: 0; /* У последнего элемента списка убираем правый отступ */
        }
