html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #123C69;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding: 10px;
    background-color: rgb(238, 226, 220);
    padding-top: 10px;
    font-family: Arial, sans-serif;
}
.nav{
    background-color: rgba(138, 129, 133, 0.6);
    border: 1px solid black; 
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color:white;
}

.navbar-brand {
    font-weight: bold;
    color: #333;
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: #333;
    container font-size: 18px;
    font-weight: bold;
}

    .navbar-nav .nav-link:hover {
        color: #123c69;
    }

.form-control.search-input {
    width: 570px;
    font-size: 18px;
    border-radius: 30px;
}


.btn {
    font-size: 18px;
}

.category-container {
    text-align: center;
    margin-top: 20px;
}

/*.category {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 15px 15px 0;
    border: 2px solid rgb(18, 60, 105);
    border-radius: 30px;
    background-color: #fff;
    color: rgb(18, 60, 105);
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

    .category:hover {
        background-color: rgb(18, 60, 105);
        color: #fff;
    }*/

h1 {
    color: #333;
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
}

p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}

.row-category {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: 150px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.col-category {
    justify-content: center;
    color: #123c69;
}



.container-lot {
    background-color: rgb(186, 178, 181);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
}

.container-category {
    margin-top: 5px;
}